.container-fluid{
  width:100%;
  height:auto;
}
.container{
  width:1200px;
  height:auto;
  margin:auto;
}
.row{
  width:auto;
  height:auto;
}
.row:after{
  content:"";
  clear:both;
  display:block;
}

.header{
  height:50px;
  background-color: blueviolet;
}
.baner{
  height:300px;
  background-color: brown;
}
.content{
  height:800px;
  background-color: blanchedalmond;
}
.footer{
  height:250px;
  background-color: rgb(41, 40, 40);
}
